:root {
  /* basic */

  --basic-light-grey: rgba(238, 238, 238, 1);
  --basic-black: rgba(0, 0, 0, 1);
  --basic-white: rgba(255, 255, 255, 1);
  --basic-dark-grey: rgba(51, 51, 51, 1);
  --basic-black-transparent: rgba(0, 0, 0, 0.3);
  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-blue: rgba(129, 179, 210, 1);
  --basic-brown: rgba(118, 99, 87, 1);

  /* hover */

  --hover-brown: rgba(96, 78, 67, 1);
  --hover-blue: rgba(102, 158, 192, 1);

  /* onclick */

  --onclick-brown: rgba(80, 62, 51, 1);
  --onclick-blue: rgba(84, 150, 189, 1);

  /* colors for linear-gradient */

  --lg-light-blue: rgba(106, 147, 179, 1);
  --lg-dark-grey: rgba(104, 92, 92, 1);

  /* others */

  --border-grey: rgba(229, 229, 229, 1);
  --background-grey-for-raiting: rgba(242, 242, 242, 1);
  --text-rating: rgba(102, 102, 102, 1);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: local('PT Sans'),
       local('PTSans'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: local('PT Sans'),
       local('PTSans'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-display: swap;
}

/* global */

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var( --basic-white);
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.button {
  font: inherit;
  text-transform: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

/* grid */

.page {
  height: 100%;
  background-color: var(--basic-light-grey);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* main-header */

.main-header {
}

/* main-navigation */

.main-navigation {
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

/* Container, main-navigation-wrapper */

.main-navigation-wrapper, .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.site-navigation-list {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-list-item {
  padding: 15px 72px;
}

.site-navigation-list-item:first-child,
.site-navigation-list-item:nth-child(2) {
  text-align: left;
}

.site-navigation-list-item:nth-child(3),
.site-navigation-list-item:nth-child(4) {
  text-align: right;
}

.site-navigation-list-item a {
  color: var(--basic-black);
  padding: 0;
}

.site-navigation-list-item a:hover,
.site-navigation-list-item a:focus {
  color: var(--basic-blue);
}

.site-navigation-list-item a:active {
  color: var(--basic-black-transparent);
}

.site-navigation-list-item .active-link {
  color: var(--basic-brown);
}

/* promo */

.promo {
  font-size: 21px;
  line-height: 26px;
}

.promo-img {
  background-image: url("../img/canyons-of-sedona.jpg"),
  linear-gradient(var(--lg-light-blue), var(--lg-dark-grey));
}

/* about */

.about {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 58px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  align-content: start;
}

.about-list-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.about-list-item h3,
.about-list-item h4 {
  font-size: 21px;
  line-height: 21px;
}

.about-list-item:first-child {
  grid-column: 1/4;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
}

.container-for-text-about-1 {
  grid-column: 1/1;
  padding: 52px;
  padding-bottom: 0;
}

.img-about-list-item-1 {
  grid-column: 2/4;
}

.about-list-item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/2;
}

.about-list-item:first-child,
.about-list-item:nth-child(3)  {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item {
  margin: 0;
  padding: 65px;
}

.about-list-item:nth-child(3) {
  grid-column: 1/4;
  grid-row: 3/3;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto;

}

.img-about-list-item-2 {
  grid-column: 1/3;
  grid-row: 1/1;
}

.container-for-text-about-2 {
  grid-column: 2/2;
  grid-row: 1/1;
  padding: 52px;
  padding-bottom: 0;
}

.about-list-item:nth-child(4) {
  grid-column: 1/1;
  grid-row: 4/4;
  padding: 52px;
  background-color: var(--basic-light-grey);
}

.about-list-item:nth-child(5) {
  grid-column: 2/2;
  grid-row: 4/4;
  padding: 52px;
  background-color: var(--basic-light-grey);
}

.about-list-item:nth-child(6) {
  grid-column: 3/3;
  grid-row: 4/4;
  padding: 52px;
  background-color: var(--basic-light-grey);
}

/* search form - index */

.hotel-search-header {
  display: block;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;

}

.form-hotel-search {
  font-weight: 400;
}

.manage-hotel-search-button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

.manage-hotel-search-button:hover,
.manage-hotel-search-button:focus {
  background-color: var(--hover-brown);
}

.manage-hotel-search-button:active {
  background-color: var(--onclick-brown);
  color: var(--basic-white-transparent);
}

.hotel-search-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: var(--hover-blue);
}

.hotel-search-button:active {
  background-color: var(--onclick-blue);
  color: var(--basic-white-transparent);
}

/* search form - hotels */

.search-form {
  display: flex;
  width: 1200px;
  height: 217px;
  margin-right: 73px;
  color: var(--basic-white);
  background-image: url("../img/search-form-background.jpg"),
  linear-gradient(var(--lg-light-blue), var(--lg-dark-grey));
  background-repeat: no-repeat;
}

.infrastructure,
.type-of-housing,
.cost {
  text-align: left;
  border: none;
  margin-top: 26.5px;
  margin-left: 72px;
  font-size: 16px;
  line-height: 21px;
  padding: 24px 0;
}

.type-of-housing {
  margin-left: 119px;
}

.cost {
  margin-left: 300px;
}

/* checkbox */

.check {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-input + .check {
  display: inline-flex;
  align-items: center;
}
.check-input + .check::before,
.check-input:not(:disabled):not(:checked) + .check:hover::before,
.check-input:focus:not(:checked) + .check::before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.check-input:checked + .check::before {
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.check-input:disabled + .check::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

.check-input:checked:disabled + .check::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

/* cost */
.cost {
  margin-left: 345px;
}

.price-container {
  width: 317px;
  height: 36px;
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
}

.price::placeholder {
  color: var(--basic-white);
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.price:hover::placeholder,
.price:focus::placeholder {
  font-size: 0;
}

.separator {
  color: white;
  font-size: 26px;
  font-weight: 400;
}

.price {
  border: none;
  outline: none;
  width: 150px;
  height: 36px;
  background: none;
  color: var(--basic-white);
  text-align: center;
  padding: 0;
}

.price::-webkit-inner-spin-button,
.price::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.price {
  -moz-appearance: textfield;
}

.price:active{
  color: var(--basic-white);
}

.show-button {
  margin-left: 84px;
  margin-top: 33px;
  background: none;
  border: 1px solid var(--basic-white);
  width: 137px;
  height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 2px;
}

.show-button:focus,
.show-button:hover {
  margin-top: 33px;
  background: var(--basic-white);
  border: 1px solid var(--basic-white);
  width: 137px;
  height: 36px;
  color: var(--basic-black);
  text-transform: uppercase;
  outline: none;
  border-radius: 2px;
}

/* slider */

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 316px;
  height: 2px;
  position: absolute;
  background: var(--basic-white);
  outline: none;
}

.slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 25%;
  top: 15px;
  width: 50%;
  outline: none;
  height: 19px;
  margin: 0;
  padding: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  background: var(--basic-white);
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M9.5 19.0909C4.25315 19.0909 0 14.8165 0 9.54546V11.4545C0 16.7255 4.25315 21 9.5 21C14.7459 21 19 16.7255 19 11.4545V9.54546C19 14.8165 14.7459 19.0909 9.5 19.0909Z' fill='%23ABABAB'/%3E%3Cpath d='M9.5 19.0909C14.7467 19.0909 19 14.8173 19 9.54545C19 4.27365 14.7467 0 9.5 0C4.25329 0 0 4.27365 0 9.54545C0 14.8173 4.25329 19.0909 9.5 19.0909Z' fill='white'/%3E%3Cpath d='M9.50001 11.4545C10.5493 11.4545 11.4 10.5998 11.4 9.54546C11.4 8.4911 10.5493 7.63637 9.50001 7.63637C8.45067 7.63637 7.60001 8.4911 7.60001 9.54546C7.60001 10.5998 8.45067 11.4545 9.50001 11.4545Z' fill='%23ABABAB'/%3E%3C/svg%3E%0A");
  border-radius: 50%;
}

.slider:focus::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  background: var(--basic-white);
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M11.5 21.8182C5.14855 21.8182 0 16.9331 0 10.9091V13.0909C0 19.1149 5.14855 24 11.5 24C17.8503 24 23 19.1149 23 13.0909V10.9091C23 16.9331 17.8503 21.8182 11.5 21.8182Z' fill='%23ABABAB'/%3E%3Cpath d='M11.5 21.8182C17.8513 21.8182 23 16.934 23 10.9091C23 4.88417 17.8513 0 11.5 0C5.14873 0 0 4.88417 0 10.9091C0 16.934 5.14873 21.8182 11.5 21.8182Z' fill='white'/%3E%3Cpath d='M11.5 13.0909C12.7703 13.0909 13.8 12.1141 13.8 10.9091C13.8 9.7041 12.7703 8.72726 11.5 8.72726C10.2298 8.72726 9.20001 9.7041 9.20001 10.9091C9.20001 12.1141 10.2298 13.0909 11.5 13.0909Z' fill='%23ABABAB'/%3E%3C/svg%3E%0A");
  border-radius: 50%;
}

/* sort */

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  height: 86px;
}

.result-quantity {
  font-size: 21px;
  line-height: 26px;
  margin-left: 73px;
  text-align: left;
}

.sort-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 46px;
}

.price-sort-button,
.type-sort-button,
.rating-sort-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: inherit;
  color: var(--basic-black-transparent);
  text-decoration: underline dotted var(--basic-blue);
  background: none;
  border: none;
  outline: none;
  margin-left: 32px;
}

.price-sort-button:hover,
.price-sort-button:focus,
.type-sort-button:hover,
.type-sort-button:focus,
.rating-sort-button:hover,
.rating-sort-button:focus {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  text-decoration: underline dotted var(--basic-blue);
  background: none;
  border: none;
  outline: none;
}

.price-sort-button:active,
.type-sort-button:active,
.rating-sort-button:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

.sort-active,
.sort-active:hover,
.sort-active:focus
.sort-active:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

.button-up {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  margin-left: 430px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L0 10H11L5.5 0Z' fill='%23CACACA'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.button-down {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L11 0L0 0L5.5 10Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-up:focus,
.button-up:hover {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L11 10L0 10' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-down:focus,
.button-down:hover {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L0 0H11' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-up:active {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L11 10L0 10' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-down:active {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L0 0H11' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

/* search-results */

.search-results {
  width: 1200px;
  height: auto;
}

.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results-list-item {
  display: grid;
  grid-template-columns: auto auto auto 512px auto;
  gap: 5px 5px;
  border-bottom: 1px solid var(--border-grey);
  text-align: left;
  padding: 10px 72px;
}

.search-result-img {
  grid-column: 1/1;
  grid-row: 1/4;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 19px;
}

.search-result-header {
  grid-column: 2/4;
  grid-row: 1/1;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-result-href {
  color: var(--basic-black);
}

.search-result-href:hover,
.search-result-href:focus {
  color: var(--basic-blue);
}

.search-result-href:active {
  color: var(--basic-black-transparent);
}

.search-result-text,
.info-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.search-result-text {
  grid-column: 2/2;
  grid-row: 2/2;
  margin-top: 0px;
    }

.info-price {
  display: inline-block;
  grid-column: 3/3;
  grid-row: 2/2;

}

.details-button,
.reserve-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.details-button {
  grid-column: 2/2;
  grid-row: 3/3;
  width: 104px;
  height: 21px;
  margin-top: 10px;
  padding: 3px;
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}

.details-button:hover,
.details-button:focus {
  background-color: var(--hover-blue);
  border: none;
  outline: none;
}

.details-button:active {
  background-color: var(--onclick-blue);
  color: var(--basic-white-transparent);
  border: none;
  outline: none;
}

.reserve-button {
  grid-column: 3/3;
  grid-row: 3/3;
  width: 142px;
  height: 27px;
  margin-top: 10px;
  background: var(--basic-brown);
  border: none;
  outline: none;
}

.reserve-button:hover,
.reserve-button:focus {
  background: var(--hover-brown);
  border: none;
  outline: none;
}

.reserve-button:active {
  background: var(--onclick-brown);
  color: var(--basic-white-transparent);
  border: none;
  outline: none;
}

.star {
  grid-column: 5/5;
  grid-row: 1/1;
  height: 17px;
}

.rating-text {
  grid-column: 5/5;
  grid-row: 3/3;
  width: 104px;
  height: 21px;
  margin-top: 10px;
  background: var(--background-grey-for-raiting);
  text-align: center;
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-rating);
}

.star-1 {
  position: relative;
  left: 95px;
}

.star-2 {
  position: relative;
  left: 70px;
}

.star-3 {
  position: relative;
  left: 45px;
}

.star-4 {
  position: relative;
  left: 20px;
}

.star-5 {
  position: relative;
}

/* main-footer */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  padding: 0;
}

.contacts {
  font-size: 21px;
  line-height: 26px;
}

.contacts p {
  margin: 9px;
}

/* social */

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list-item {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
  background-position: center;
  margin: 3px;
}

.twitter {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.95 1.144c1.685-.496 2.984.27 3.577 1.18.673-.232 1.331-.482 2.011-.709a2.345 2.345 0 01-.857 1.768c.685.17 1.304-.49 1.304-.49-.169 1-1.006 1.787-1.563 2.023-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.12C1.705 9.246.374 8.53.448 6.33c.285.328 1.067.536 1.34.472-.703-.24-1.97-3.36-.894-4.952 1.818 1.854 3.735 3.606 7.152 3.773.208-2.293 1.137-3.83 2.904-4.479z' fill='%23fff'/%3E%3C/svg%3E");
}

.facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4V0H8a4 4 0 00-4 4v4H0v4h4v10h4V12h4V8H8V4h4z' fill='%23fff'/%3E%3C/svg%3E");
}

.youtube {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0h14c1.65 0 3 1.35 3 3v10c0 1.65-1.35 3-3 3H3c-1.65 0-3-1.35-3-3V3c0-1.65 1.35-3 3-3zm3.027 4.002v7.996L15.014 8 6.027 4.002z' fill='%23fff'/%3E%3C/svg%3E");
}

.twitter:focus,
.twitter:hover {
  background-color: var(--hover-blue);
}

.facebook:focus,
.facebook:hover {
  background-color: var(--hover-blue);
}

.youtube:focus,
.youtube:hover {
  background-color: var(--hover-blue);
}

.twitter:active {
  background-color: var(--onclick-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.95 1.144c1.685-.496 2.984.27 3.577 1.18.673-.232 1.331-.482 2.011-.709a2.345 2.345 0 01-.857 1.768c.685.17 1.304-.49 1.304-.49-.169 1-1.006 1.787-1.563 2.023-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.12C1.705 9.246.374 8.53.448 6.33c.285.328 1.067.536 1.34.472-.703-.24-1.97-3.36-.894-4.952 1.818 1.854 3.735 3.606 7.152 3.773.208-2.293 1.137-3.83 2.904-4.479z' fill='%23fff' opacity='.3'/%3E%3C/svg%3E");
}

.facebook:active {
  background-color: var(--onclick-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4V0H8a4 4 0 00-4 4v4H0v4h4v10h4V12h4V8H8V4h4z' fill='%23fff' opacity='.3'/%3E%3C/svg%3E");
}

.youtube:active {
  background-color: var(--onclick-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0h14c1.65 0 3 1.35 3 3v10c0 1.65-1.35 3-3 3H3c-1.65 0-3-1.35-3-3V3c0-1.65 1.35-3 3-3zm3.027 4.002v7.996L15.014 8 6.027 4.002z' fill='%23fff' opacity='.3'/%3E%3C/svg%3E");
}

.contacts-phone {
  color: inherit;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.logo-html {
  display: block;
  width: 115px;
  height: 41px;
  margin-left: 6px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.logo-html:focus,
.logo-html:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.logo-html:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}
