:root {
  /* basic */

  --basic-black: rgba(0, 0, 0, 1);
  --basic-white: rgba(255, 255, 255, 1);
  --basic-dark-grey: rgba(51, 51, 51, 1);
  --basic-black-transparent: rgba(0, 0, 0, 0.3);
  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-blue: rgba(129, 179, 210, 1);
  --basic-brown: rgba(118, 99, 87, 1);
  --basic-lighter-grey: rgba(238, 238, 238, 1);
  --basic-light-grey: rgba(242, 242, 242, 1);

  /* hover */

  --hover-brown: rgba(96, 78, 67, 1);
  --hover-blue: rgba(102, 158, 192, 1);
  --hover-grey: rgba(235, 235, 235, 1);

  /* onclick */

  --onclick-brown: rgba(80, 62, 51, 1);
  --onclick-blue: rgba(84, 150, 189, 1);

  /* colors for linear-gradient */

  --lg-white-blue: rgba(241, 247, 250, 1);
  --lg-blue: rgba(96, 138, 176, 1);
  --lg-dark-grey: rgba(104, 92, 92, 1);
  --lg-red-brown: rgba(106, 88, 88, 1);

  /* others */

  --color-for-box-shadow: rgba(0, 1, 1, 0.2);
  --border-grey: rgba(229, 229, 229, 1);
  --text-rating: rgba(102, 102, 102, 1);
  --footer-background: rgba(255, 255, 255, 0.9);
  --for-toggle-center: rgba(171, 171, 171, 1);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: local('PT Sans'),
       local('PTSans'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: local('PT Sans'),
       local('PTSans'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-display: swap;
}

/* global */

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var( --basic-white);
  text-align: center;
  box-shadow: 0px 5px 15px var(--color-for-box-shadow);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.button {
  font: inherit;
  text-transform: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* grid */

.page {
  height: 100%;
  background-color: var(--basic-light-grey);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* main-navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

/* Container, main-navigation-wrapper */

.main-navigation-wrapper, .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 20;
}

.site-navigation-list {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-list-item {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 60px;
}

.site-navigation-list-item:first-child {
  padding-left: 72px;
}

.site-navigation-list-item:last-child {
  padding-right: 72px;
}

.site-navigation-list-item:first-child,
.site-navigation-list-item:nth-child(2) {
  justify-content: flex-start;
}

.site-navigation-list-item:nth-child(3),
.site-navigation-list-item:nth-child(4) {
  justify-content: flex-end;
}

.site-navigation-list-item a {
  color: var(--basic-black);
  padding: 0;
}

.site-navigation-list-item a:hover,
.site-navigation-list-item a:focus {
  color: var(--basic-blue);
}

.site-navigation-list-item a:active {
  color: var(--basic-black-transparent);
}

.site-navigation-list-item .active-link {
  color: var(--basic-brown);
}

/* promo */

.promo {
  font-size: 21px;
  line-height: 28px;
}

.promo-img {
  position: relative;
  width: 1200px;
  height: 508px;
  background-image: url("../img/canyons-of-sedona.jpg"),
    linear-gradient(175deg, transparent 0%, var(--lg-white-blue) 20%, var(--basic-blue) 40%, var(--lg-dark-grey), var(--lg-red-brown));
  color: var(--basic-white);
  -webkit-mask-image:
    linear-gradient(5.3deg, transparent 49.5%, var(--basic-white) 50.5%),
    linear-gradient(9.28deg, transparent 49.5%, var(--basic-white) 50.5%),
    linear-gradient(-9.28deg, transparent 49.5%, var(--basic-white) 50.5%),
    linear-gradient(-5.3deg, transparent 49.5%, var(--basic-white) 50.5%),
    linear-gradient(white, white);
  -webkit-mask-size: 250px 85px, 600px 95px, 600px 95px, 250px 85px, 1200px 433px;
  -webkit-mask-position: bottom left, bottom left, bottom right, bottom right, top;
  -webkit-mask-repeat: no-repeat;
}

.promo-img-labels {
  position: absolute;
  left: 0;
  top: 77px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.promo-text {
  margin-top: 41px;
}

/* about */

.about {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 55px;
}

.head-for-about {
  margin: 41px auto;
  margin-bottom: 52px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  align-content: start;
}

.about-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-list-item h3,
.about-list-item h4 {
  font-size: 21px;
  line-height: 21px;
}

.about-text-number {
  margin-top: 23px;
  margin-bottom: 22px;
}

.about-text-description {
  line-height: 21px;
  margin: 0;
}

.about-list-item:first-child {
  grid-column: 1/4;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
}

.container-for-text-about-1 {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: start;
  margin-top: 26px;
}

.img-about-list-item-1 {
  grid-column: 2/4;
  grid-row: 1/1;
  min-height: auto;
}

.about-list-item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/2;
}

.about-list-item:first-child,
.about-list-item:nth-child(3)  {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 13px;
}

.advantages-list-item {
  padding: 55px;
}

.advantages-list-item p {
  line-height: 21px;
}

.advantages-list-item h4 {
  margin-top: 19px;
  margin-bottom: 26px;
}

.advantages-list-item:first-child::before {
  display: inline-grid;
  content: "";
  width: 75px;
  height: 77px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.advantages-list-item:nth-child(2)::before {
  display: inline-grid;
  content: "";
  width: 75px;
  height: 77px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.advantages-list-item:nth-child(3)::before {
  display: inline-grid;
  content: "";
  width: 75px;
  height: 77px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about-list-item:nth-child(3) {
  grid-column: 1/4;
  grid-row: 3/3;
  display: grid;
  grid-template-columns: 1fr 400px;
}

.img-about-list-item-2 {
  grid-column: 1/3;
  grid-row: 1/1;
  min-height: auto;
}

.container-for-text-about-2 {
  grid-column: 2/2;
  grid-row: 1/1;
  align-self: start;
  margin-top: 28px;
}

.about-list-item:nth-child(4),
.about-list-item:nth-child(5),
.about-list-item:nth-child(6) {
  display: inline-grid;
  padding-top: 25px;
  padding-bottom: 54px;
  background-color: var(--basic-light-grey);
}

.about-list-item:nth-child(4) h3,
.about-list-item:nth-child(5) h3,
.about-list-item:nth-child(6) h3 {
  margin-bottom: 0;
}

.about-list-item:nth-child(4) {
  grid-column: 1/1;
  grid-row: 4/4;
}

.about-list-item:nth-child(5) {
  grid-column: 2/2;
  grid-row: 4/4;
}

.about-list-item:nth-child(6) {
  grid-column: 3/3;
  grid-row: 4/4;
}

/* search form - index */

.form-hotel-search {
  position: relative;
}

.hotel-search-header {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-search-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.manage-hotel-search-button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  outline: none;
  border: none;
  margin-top: 29px;
}

.manage-hotel-search-button:hover,
.manage-hotel-search-button:focus {
  background-color: var(--hover-brown);
}

.manage-hotel-search-button:active {
  background-color: var(--onclick-brown);
  color: var(--basic-white-transparent);
}

.form-hotel-search-container {
  position: absolute;
  z-index: 30;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--color-for-box-shadow);
}

.form-hotel-search-fieldset {
  border: none;
  padding: 55px;
  margin: 0;
}

.form-hotel-search-wrapper {
  display: grid;
  grid-template-columns: 112px 166px 65px 114px;
  grid-template-rows: auto auto auto;
  align-content: start;
  gap: 29px 0px;
}

.label-arrival-date {
  grid-column: 1/1;
  grid-row: 1/1;
}

.input-arrival-date {
  grid-column: 2/5;
  grid-row: 1/1;
}

.label-date-of-departure {
  grid-column: 1/1;
  grid-row: 2/2;
}

.input-date-of-departure {
  grid-column: 2/5;
  grid-row: 2/2;
}

.label-number-adults {
  grid-column: 1/1;
  grid-row: 3/3;
}

.input-number-adults-container {
  grid-column: 2/2;
  grid-row: 3/3;
}

.label-number-children {
  grid-column: 3/3;
  grid-row: 3/3;
}

.input-number-children-container {
  grid-column: 4/4;
  grid-row: 3/3;
}

.label-arrival-date,
.label-date-of-departure,
.label-number-adults,
.label-number-children {
  justify-self: start;
  align-self: center;

}

.calendar {
  border: none;
  outline: none;
  background-color: transparent;
  justify-self: end;
  align-self: center;
  margin-right: 8px;
  padding: 0;
}

.arrival-calendar {
  grid-column: 4/4;
  grid-row: 1/1;
}

.departure-calendar {
  grid-column: 4/4;
  grid-row: 2/2;
}

.input-number-adults {
  justify-self: start;
}

.date-input {
  width: 322px;
  height: 38px;
  border: none;
  outline: none;
  background-color: var(--basic-light-grey);
  padding: 0 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: inherit;
}

.date-input:hover {
  background-color: var(--hover-grey);
}

.date-input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--border-grey);
  outline-offset: -2px;
}

/* input type number */

.number-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  width: 115px;
  height: 38px;
  border: none;
  outline: none;
}

.number-minus {
  grid-column: 1/1;
  grid-row: 1/1;
}

.input-number-adults,
.input-number-children {
  grid-column: 2/2;
  grid-row: 1/1;
}

.number-plus {
  grid-column: 3/3;
  grid-row: 1/1;
}

.number-minus,
.number-input,
.number-plus {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  padding: 0;
  background-color: var(--basic-light-grey);
  text-align: center;
}

.date-input::placeholder {
  color: inherit;
}

.date-input:focus::placeholder,
.date-input:hover::placeholder,
.number-input:focus::placeholder,
.number-input:hover::placeholder {
  transition-duration: 0.4s;
  transform: scale(0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number-input::placeholder {
  color: inherit;
}

.number-minus:hover path,
.calendar:hover path,
.number-plus:hover  path,
.number-minus:focus path,
.calendar:focus path,
.number-plus:focus  path {
  fill: var(--basic-black);
}

.number-minus:active path,
.calendar:active path,
.number-plus:active  path {
  fill: var(--basic-blue);
}

.hotel-search-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  margin: 0 auto;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: var(--hover-blue);
  outline: none;
}

.hotel-search-button:active {
  background-color: var(--onclick-blue);
  color: var(--basic-white-transparent);
}

/* search form - hotels */

.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 217px;
  margin-right: 73px;
  color: var(--basic-white);
  background-image: url("../img/search-form-background.jpg"),
    linear-gradient(150deg, transparent 0%, var(--lg-blue) 0%, var(--lg-blue) 30%, var(--lg-dark-grey), var(--lg-red-brown));
  background-repeat: no-repeat;
}

.infrastructure,
.type-of-housing,
.cost {
  text-align: left;
  border: none;
  margin-top: 26.5px;
  margin-left: 72px;
  font-size: 16px;
  line-height: 21px;
  padding: 24px 0;
}

.type-of-housing {
  margin-left: 119px;
}

.cost {
  margin-left: 300px;
}

/* checkbox */

.check {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-input + .check {
  display: inline-flex;
  align-items: center;
}
.check-input + .check::before,
.check-input:not(:disabled):not(:checked) + .check:hover::before,
.check-input:focus:not(:checked) + .check::before {
  content: '';
  display: inline-flex;
  width: 27px;
  height: 23px;
  margin-right: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.check-input:checked + .check::before {
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.check-input:disabled + .check::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

.check-input:checked:disabled + .check::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

/* cost */

.cost-label {
  margin-bottom: -15px;
}

.price-controls {
  width: 317px;
  height: 36px;
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
}

.price {
  border: none;
  outline: none;
  width: 150px;
  height: 36px;
  background: none;
  color: var(--basic-white);
  text-align: center;
  padding: 0;
}

.price::-webkit-inner-spin-button,
.price::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.price {
  -moz-appearance: textfield;
}

.price:active{
  color: var(--basic-white);
}

.price::placeholder {
  color: var(--basic-white);
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.price:hover::placeholder,
.price:focus::placeholder {
  transition-duration: 0.2s;
  font-size: 0;
}

.separator {
  color: var(--basic-white);
  font-size: 26px;
  font-weight: 400;
}

/* range controls */

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: var(--basic-black-transparent);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--for-toggle-center);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  transform: scale(1.2);
}

/*  show-button*/

.show-button {
  margin-left: 84px;
  margin-top: 13px;
  background: none;
  border: 1px solid var(--basic-white);
  width: 137px;
  height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 2px;
}

.show-button:focus,
.show-button:hover {
  background: var(--basic-white);
  border: 1px solid var(--basic-white);
  color: var(--basic-black);
  outline: none;
  border-radius: 2px;
}

/* sort */

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  height: 86px;
}

.result-quantity {
  font-size: 21px;
  line-height: 26px;
  margin-left: 73px;
  text-align: left;
}

.sort-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 46px;
}

.price-sort-button,
.type-sort-button,
.rating-sort-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: inherit;
  color: var(--basic-black-transparent);
  text-decoration: underline dotted var(--basic-blue);
  background: none;
  border: none;
  outline: none;
  margin-left: 32px;
}

.price-sort-button:hover,
.price-sort-button:focus,
.type-sort-button:hover,
.type-sort-button:focus,
.rating-sort-button:hover,
.rating-sort-button:focus {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  text-decoration: underline dotted var(--basic-blue);
  background: none;
  border: none;
  outline: none;
}

.price-sort-button:active,
.type-sort-button:active,
.rating-sort-button:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

.sort-active,
.sort-active:hover,
.sort-active:focus
.sort-active:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

.button-up {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  margin-left: 430px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L0 10H11L5.5 0Z' fill='%23CACACA'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.button-down {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L11 0L0 0L5.5 10Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-up:focus,
.button-up:hover {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L11 10L0 10' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-down:focus,
.button-down:hover {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L0 0H11' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-up:active {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L11 10L0 10' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.button-down:active {
  background: none;
  outline: none;
  border: none;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L0 0H11' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

/* search-results */

.search-results {
  width: 1200px;
  height: auto;
}

.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
}

.search-results-list-item {
  display: grid;
  grid-template-columns: auto auto auto 512px auto;
  gap: 5px 5px;
  border-bottom: 1px solid var(--border-grey);
  text-align: left;
  padding: 10px 72px;
}

.search-result-img {
  grid-column: 1/1;
  grid-row: 1/4;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 19px;
}

.search-result-header {
  grid-column: 2/4;
  grid-row: 1/1;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-result-href {
  color: var(--basic-black);
}

.search-result-href:hover,
.search-result-href:focus {
  color: var(--basic-blue);
}

.search-result-href:active {
  color: var(--basic-black-transparent);
}

.search-result-text,
.info-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.search-result-text {
  grid-column: 2/2;
  grid-row: 2/2;
  margin-top: 0px;
    }

.info-price {
  display: grid;
  grid-column: 3/3;
  grid-row: 2/2;

}

.details-button,
.reserve-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.details-button {
  grid-column: 2/2;
  grid-row: 3/3;
  width: 104px;
  height: 21px;
  margin-top: 10px;
  padding: 3px;
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}

.details-button:hover,
.details-button:focus {
  background-color: var(--hover-blue);
  border: none;
  outline: none;
}

.details-button:active {
  background-color: var(--onclick-blue);
  color: var(--basic-white-transparent);
  border: none;
  outline: none;
}

.reserve-button {
  grid-column: 3/3;
  grid-row: 3/3;
  width: 142px;
  height: 27px;
  margin-top: 10px;
  background: var(--basic-brown);
  border: none;
  outline: none;
}

.reserve-button:hover,
.reserve-button:focus {
  background: var(--hover-brown);
  border: none;
  outline: none;
}

.reserve-button:active {
  background: var(--onclick-brown);
  color: var(--basic-white-transparent);
  border: none;
  outline: none;
}

.star {
  grid-column: 5/5;
  grid-row: 1/1;
  height: 17px;
}

.rating-text {
  grid-column: 5/5;
  grid-row: 3/3;
  width: 104px;
  height: 21px;
  margin-top: 10px;
  background: var(--basic-lighter-grey);
  text-align: center;
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-rating);
}

.star-1 {
  position: relative;
  left: 95px;
}

.star-2 {
  position: relative;
  left: 70px;
}

.star-3 {
  position: relative;
  left: 45px;
}

.star-4 {
  position: relative;
  left: 20px;
}

.star-5 {
  position: relative;
}

/* map */

.map {
  width: 1199px;
  height: 594px;
  background-image: url("../img/map.jpg");
}

/* main-footer */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  padding: 0;
  background-color: var(--footer-background);
  margin-top: -120px;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  margin-top: -16px;
  padding-left: 124px;
}

/* social */

.footer-social {
  margin-top: -3px;
  padding-left: 175px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 156px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
  background-position: center;
  margin: 3px;
}

.social-list-item svg {
  margin-bottom: -4px;
}

.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--hover-blue);
}

.social-list-item:active path {
  background-color: var(--onclick-blue);
  fill: var(--basic-white-transparent);
}

.footer-contacts p,
.contacts-phone {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 10px;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  padding-left: 187px;
  margin-top: -2px;
}

.logo-html {
  width: 115px;
  height: 41px;
  margin-left: 8px;
  margin-top: -2px;
  background-repeat: no-repeat;
}

.logo-html:focus path,
.logo-html:hover path {
  fill: var(--basic-blue);
}

.logo-html:active path {
  fill: var(--basic-black-transparent);
}
